<p> <%= link_to 'Português', root_path(locale: 'pt-BR') %> </p>
<p> <%= link_to 'English', root_path(locale: 'en') %> </p>

<h1><%= t('welcome') %></h1>
<p><%= @meu_nome %></p>

<%= render "menu" %>

<p><strong>Data a partir do i18n: </strong><%= l(Date.today) %></p>
<p> Você está no ambiente de <strong><%= ambiente %></strong></p>
<p> O idioma usada nessa aplicação é:<strong><%= t('actual_locale') %></strong></p>
<p> Traduzindo:<%= t('hello') %> </p>
