<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome') %></h1>
  <p class="lead">Este é o Crypto Wallet, uma plataforma para você cadastrar e acompanhar suas cryptomoedas.</p>
  <hr class="my-4">
  <p>Pra começar selecione umas das opções abaixo.</p>
  <%= render "menu" %>
</div>

<p><%= @meu_nome %></p>


<p> Você está no ambiente de <strong><%= ambiente %></strong></p>
<!--
<p><strong>Data a partir do i18n: </strong><%= l(Date.today) %></p>
<p> O idioma usada nessa aplicação é:<strong><%= t('actual_locale') %></strong></p>
<p> Traduzindo:<%= t('hello') %> </p> 
-->