<h1>Bem Vindo</h1>
<p><%= @meu_nome %></p>

<%= render "menu" %>

<p><strong>Data a partir do i18n: </strong><%= l(Date.today) %></p>
<p> Você está no ambiente de <strong><%= ambiente %></strong></p>
<p> O idioma usada nessa aplicação é:<strong><%= t('actual_locale') %></strong></p>
<p> Traduzindo:<%= t('hello') %> </p>
